.article-twiiter{
    background-color: white;
    width: 80%;
    align-content: center;
    display: flex;
    align-items: center;
    background-color: "";
    border-radius: 300px;
    padding: 5px;
    background-color: white;
    margin: 2px;
    height: 70px;
}
    .header-banner{
        display: flex;
        align-items: center;
        align-content: center;
        color: black;
        background-color: "";
        width: 450px;
    }
        .img-twitter{
            border-radius: 100%;
            margin-right: 15px;
            height: 70px;
            width: 100px;
        }
        

    aside{
        display: flex;
        width: 200px;
        background-color: "";
    }
        button{
            background-color: white;
            font-weight:600;
            color: blue;
            border :solid 2px blue;
            border-radius: 20px;
            width: 150px;
            padding-top: 8px;
            padding-bottom: 8px;
        }


.btn-siguiendo{
    background-color: green;
    color:white;
}
    .btn-siguiendo:hover{
        background-color: red;
        color:white;
    }
    .btn-dejar-seguir{
        background-color: red;
        color:white; 
    }
.btn-seguir{
    background-color: white;
    color:black;
}
    .btn-seguir:hover{
        background-color: green;
        color:white;
    }  
    .btn-añadir-seguir{
        background-color: yellow;
        color:white;
    }

/* Header.jsx */

.header-banner{
    background-color:grey;
    width: 100%;
    margin: 0px;
    display: flex;
}
    .header-banner div{
        background-color: grey;
        padding-left: 20px;
    }
    .header-banner ul{
        background-color: "";
        width: 100%;
        display: flex;
    }
        .header-banner ul li{
            background-color: black;
            width: 150px;
            color: white;
            list-style-type:none;
            text-align: center;
            margin-left: 80px;
            padding: 5px;
        }
        .logo{
            width: 100px;
        }

/*Inicio.jsx*/
.section-inicio{
    background-color: white;
    margin-top: 20px;
}
    .article-1{
        background-color: grey;
        display: flex;
    }
        .texto{
            background-color: "";
            display: flex;
            width: 50%;
            display: block;
            padding-left: 80px;
            margin-right: 50px;
            margin-top: 30px;           
        }
            .texto h1{
                margin: 0px;
            }
            .texto h2{
                background-color: "";
                margin: 0px;
                margin-bottom: 10px;
            }
            .texto span{
                background-color:"";
            }
        .imagenes{
            background-color: "";
            width: 50%;
            text-align: right;
            display: flex;
        }
            .imagenes img{
                width: 610px;
            }
    .linia{
        display: flex;
        justify-content: right ;
    }
        .linia span{
            display: block;
            background-color: black;
            height: 1px;
            width: 60%;
        }



    .article-2{
        background-color: grey;
        display: flex;
        margin-top: 40px;
    }
        .texto2{
            background-color: "";
            display: block;
            width: 100%;            
            margin-top: 30px;
            margin-bottom: 30px;
        }
            .texto2 h2{
                background-color: "";
                margin: 0px;
                margin-bottom: 10px;
                text-align: center;
            }
            .texto2 span{
                display: block;
                margin-left: 80px;
                margin-right: 50px;
            }

    .article-3{
        background-color: grey;
        display: flex;
        margin-top: 40px;
    }
        .texto3{
            background-color: "";
            display: block;
            width: 60%;            
            margin-top: 30px;
            margin-bottom: 20px;
        }
            .texto3 h2{
                background-color: "";
                margin: 0px;
                margin-bottom: 10px;
                margin-left: 80px;
                margin-right: 50px;
                margin-top: 50px;
            }
            .texto3 span{
                background-color: "";
                display: block;
                margin-left: 80px;
                margin-right: 50px;
            }
        .imagen3{
            background-color: "";
            display: flex;
            width: 45%;            
            text-align: left;
        }
            .imagen3 img{
                width: 600px;
            }

            .linia-2{
                display: block;
                justify-content: right ;
            }
                .linia-2 span{
                    display: block;
                    background-color: black;
                    height: 1px;
                    width: 60%;
                }

    .article-2{
        background-color: grey;
        display: flex;
        margin-top: 40px;
    }
        .texto2{
            background-color: "";
            display: block;
            width: 100%;            
            margin-top: 30px;
            margin-bottom: 30px;
        }
            .texto2 h2{
                background-color: "";
                margin: 0px;
                margin-bottom: 10px;
                text-align: center;
            }
            .texto2 span{
                display: block;
                margin-left: 80px;
                margin-right: 50px;
            }


    .article-4{
        background-color: grey;
        display: flex;
        margin-top: 40px;
    }
        .texto4{
            background-color: "";
            display: block;
            width: 100%;            
            margin-top: 30px;
            margin-bottom: 30px;
        }
            .texto4 h2{
                background-color: "";
                margin: 0px;
                margin-bottom: 10px;
                text-align: center;
            }
                .texto4 span{
                    display: block;
                    margin-left: 80px;
                    margin-right: 50px;
                }
.article-4{
        background-color: grey;
        display: flex;
        margin-top: 40px;
    }
        .texto4{
            background-color: "";
            display: block;
            width: 100%;            
            margin-top: 30px;
            margin-bottom: 30px;
        }
            .texto4 h2{
                background-color: "";
                margin: 0px;
                margin-bottom: 10px;
                text-align: center;
            }
                .texto4 span{
                    display: block;
                    margin-left: 80px;
                    margin-right: 50px;
                }


    .article-5{
        background-color: grey;
        display: flex;
        margin-top: 40px;
    }
        .texto5{
            background-color: "";
            display: block;
            width: 100%;            
            margin-top: 30px;
        }
            .texto5 h2{
                background-color: "";
                margin: 0px;
                margin-bottom: 10px;
                text-align: center;
            }

/* Footer */
.footer{
    background-color: white;
    display: flex;
    margin-top: 40px;
}
    .footer-texto{
        background-color: grey;
        display: block;
        width: 100%;            
        margin-top: 30px;
        padding-left: 80px;
        padding-right: 50px;
    }